* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.main-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.content-container {
    display: flex;
    flex: 1;
    flex-direction: row;
}



.formulario {
    flex: 3;
    background-color: #ffb878;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
}

.formulario form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.formulario label, .formulario input, .formulario button {
    margin-bottom: 10px;
}

.formulario button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
    }

    .tools-list {
        border-right: none;
        border-bottom: 1px solid #ccc;
    }
}

#imagenRecibida {
    max-width: 100%;
    height: auto;
}