/* styles.css */
html, body {
    height: 100%; /* Asegurarse de que el body ocupe el 100% de la altura */
    margin: 0; /* Quitar márgenes por defecto */
}

.wrapper {
    min-height: 100%; /* Altura mínima del contenedor para ocupar toda la página */
    display: flex;
    flex-direction: column; /* Flexbox para organizar el contenido en columnas */
}

.content {
    flex: 1; /* Ocupa el espacio disponible entre el header y el footer */
}

.footer {
    background-color: #2d3748; /* Color de fondo del footer */
    color: white; /* Color del texto */
    padding: 0.001rem; /* Disminuir el espaciado */
    text-align: center; /* Centrar el texto */
    font-size: 0.875rem; /* Disminuir el tamaño del texto si es necesario */
}

/* Centramos el spinner en el medio de la página */
.spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
