* {
    padding: 10px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
}

.contenedor {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}



.lienzo {
    background-color: #D1B27A; /* Color de fondo del lienzo */
    flex-grow: 1;
    padding: 0px;
    margin: 0 10% 20px;
    margin-top: 100px;
    height: 440px; /* Ajusta la altura del lienzo */
    border: 1px solid #000; /* Borde para el lienzo */
    cursor: crosshair;
}

#canvas {
    border: 2px solid black; /* Eliminar el borde para coincidir con el lienzo */
    width: 100%;
    height: 100%; /* Asegura que el lienzo ocupe todo el contenedor */
    display: block; /* Evita el espacio innecesario debajo del lienzo */
}


.izquierda {
    background-color: #D47F3A;
    width: 200px;
    padding: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    user-select: none;
    /* No usamos height: 100% aquí para permitir crecimiento dinámico */
    height: auto; /* Esto hace que la altura se ajuste según el contenido */
}

.tool {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
    margin-bottom: 1px;
    flex-grow: 1;
}

.tool:hover {
    transform: scale(1.1);
    background-color: #f0f0f0;
}

.tool i {
    font-size: 45px;
    color: #333;
}

.tool p {
    font-size: 14px;
    color: #000000;
    margin: 0;
}

.tool-select {
    display: none;
    width: 100%;
    padding: 10px;
    font-size: 10px;
    border-radius: 5px;
}

.paleta {
    background-color: #D47F3A;
    flex-grow: 1; /* Se expandirá para ocupar el espacio disponible */
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Asegura que los elementos dentro de .paleta se estiren */
}


@media (max-width: 768px) {
    .contenedor {
        flex-direction: row; /* Cambia a disposición vertical */
    }

    .izquierda {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto; /* Ajusta la altura del contenedor izquierdo para que sea más pequeña */
    }

    /* Ocultar los íconos y mostrar el combo box en pantallas pequeñas */
    .tool {
        display: none;
    }

    .tool-select {
        display: block; /* Mostramos el select en pantallas pequeñas */
    }
}


/* Estilo del contenedor de la paleta de colores */
.color-picker-container {
    position: absolute;
    display: none;  /* Oculto por defecto */
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;  /* Asegura que el color picker esté por encima de otros elementos */
    padding: 10px;
    border-radius: 8px;
    gap: 8px;
}

/* Estilo de cada caja de color */
.color-box {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 100%;  /* Borde circular */
    cursor: pointer;
    border: 2px solid #000;
}




