flask==2.3.3
flask-socketio==5.3.2
eventlet==0.33.3
opencv-python-headless==4.8.1.78
mediapipe==0.10.20
mysql-connector-python
Flask==2.3.2
google-auth==2.17.3
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.0
google-api-python-client==2.86.0